<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：理解成实现类的全路径（包名+类名） -->
<mapper namespace="com.bjsxt.mapper.TeacherMapper">

    <!-- 使用resultMap标签实现关联集合对象 -->
    <!-- A.n+1方式 -->
    <resultMap id="mymap" type="teacher">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="list" column="id"
             select="com.bjsxt.mapper.StudentMapper.selectByTid"/>
    </resultMap>

    <select id="selectAll" resultMap="mymap">
        select * from teacher
    </select>

    <!-- B.联合查询方式 -->
    <resultMap id="mymap1" type="teacher">
        <id column="tid" property="id"/>
        <result column="tname" property="name"/>
        <collection property="list" ofType="student">
            <id column="sid" property="id"/>
            <result column="sname" property="name"/>
            <result column="age" property="age"/>
            <result column="tid" property="tid"/>
        </collection>
    </resultMap>

    <select id="selectAll1" resultMap="mymap1">
        select t.id tid,
            t.name tname,
            s.id sid,
            s.name sname,
            age
        from teacher t
        left join student s
        on t.id = s.tid
    </select>
</mapper>