<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="mythrow" class="com.bjsxt.advice.MyThrowAdvice"></bean>
    <aop:config>
        <aop:pointcut id="mypoint" expression="execution(* com.bjsxt.interceptMethod.Demo.demo1())"/>
        <aop:advisor advice-ref="mythrow" pointcut-ref="mypoint"/>
        <!--<aop:aspect ref="mythrow">
            <aop:pointcut id="mypoint" expression="execution(* com.bjsxt.interceptMethod.Demo.demo1())"/>
            <aop:after-throwing method="afterThrowing" throwing="ex" pointcut-ref="mypoint"/>
        </aop:aspect>-->
    </aop:config>
    <bean id="demo" class="com.bjsxt.interceptMethod.Demo"></bean>
</beans>