<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描注解 -->
    <context:component-scan base-package="com.bjsxt.controller"></context:component-scan>
    <!-- 注解驱动（相当于配了下面两个标签） -->
    <!-- HandlerMapping
     org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping -->
    <!-- HandlerAdapter
    org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter -->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 静态资源 -->
    <!-- mapping浏览器的url地址，location后台根据前端传来的url转换成实际要访问的地址
    mapping中的*表示该文件夹下的文件，**表示该文件夹下任意层级下的文件
     举例：springmvc是项目名
     http://localhost:8080/springmvc/js/jquery-1.11.0.js 访问的是项目根路径下的js/jquery-1.11.0.js
     http://localhost:8080/springmvc/abc/jquery-1.11.0.js 访问的是项目根路径下的WEB-INF/js/jquery-1.11.0.js
     -->
    <mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
    <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
    <mvc:resources location="/WEB-INF/js/" mapping="/abc/**"></mvc:resources>
    <mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
</beans>