<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：理解成实现类的全路径（包名+类名） -->
<mapper namespace="a.b">
    <select id="selectById" resultType="com.bjsxt.pojo.Flower">
        select * from flower where id = #{id}
    </select>
    <select id="selectById1" parameterType="com.bjsxt.pojo.Flower" resultType="com.bjsxt.pojo.Flower">
        select * from flower where id = #{id}
    </select>
    <select id="selectById2" parameterType="map" resultType="com.bjsxt.pojo.Flower">
        select * from flower where id = #{id} and name = #{name}
    </select>
    <!-- 分页查询 -->
    <select id="page" parameterType="map" resultType="com.bjsxt.pojo.Flower">
        select * from flower limit #{pageStart},#{pageSize}
    </select>
</mapper>